---
import BlogPost from "@/layouts/BlogPost.astro";

---
<BlogPost>
<div class="flex justify-center w-full items-center min-h-screen">
  <table align="center">
    <tr>
      <td align="center" class=" p-4 rounded-xl dark:bg-amber-200 bg-white">
        <h3 class="text-4xl font-extrabold hover:scale-105 duration-200">Frontend</h3>
        <br />
        <img
          src="https://skillicons.dev/icons?i=nextjs,react,typescript,tailwind,angular"
        />
        <div class="text-center font-bold py-5">
          Next.js • React • TypeScript • Tailwind • Angular
        </div>
        
      </td>

      
    </tr>
  </table>
</div>
</BlogPost>
